body{
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
   
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu a{
    padding: 0px 30px;
    font-size: 18px;
}
.header-titulo h1{
    margin-top: 40px;
}
.section-titulo{
    font-size: 40px;
    line-height: 10px;
   
}
.section-text{
    line-height: 20px;
    max-width: 500px;
    padding-bottom: 20px;
}
.header-menu a{
    color: white;
    text-decoration: none;

}
.header-menu a:hover{
    color: #ae00ff;
}

button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
   }
   
   button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }


   button1 {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
   }
   
   button1:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   button1 span {
    position: absolute;
   }
   
  
   


   .section-principal{
    display: flex;
    margin-top: 50px;
   }
   .section-image{
     width: 570px;
    margin-top: 100px;
   }
   .section-form input{
    width: 70%;
    height: 50px;
    border-radius: 30px;
    padding-left: 10px;
    border-color: white;
   }
   #email{
    margin-top: 20px;
   }
   h1 span{
    color: #ae00ff;
   }

   h4{
    display: flex;
    justify-content: center;
    
   }






   @media (max-width: 1024px) {
    body{
        margin-left: 20px;
        
    }
    .section-titulo h1{
        font-size: 60px;
    }
    .section-titulo h2{
        font-size: 60px;
    }
    #img{
        width: 100%;
    }
    
   }

   @media screen and (max-width: 768px) and (max-width: 1024px) {
      header{
        flex-direction: column;
      }
      .section-principal{
        flex-direction: column;
        text-align: center;
        padding: 20px 0px;
      }
      .section-text{
        width: 100%;
        margin-left: 140px;
      }
      .section-form input{
        width: 30%;
      }
    ul{
        text-align: center;
    }
    #img{
        margin-left: 80px;
    }

   }

   @media screen and (max-width: 425px) and (max-width: 768px){
    header{
        flex-direction: column;
      }
      .header-menu a{
        padding: 5px;
      }
      button1{
        padding: 0;
        letter-spacing: 0;
        text-transform: none;
        
      }
      .section-principal{
        flex-direction: column;
        text-align: center;
        padding: 20px 0px;
        margin: 0 ;
        align-items: center;
      }
      .section-titulo h1{
        font-size: 40px;
    }
    .section-titulo h2{
        font-size: 40px;
    }
      .section-text{
       font-size: 10px; 
       align-items: center;
       margin: 0;
      }
      .section-form input{
        width: 50%;
      }
    ul{
        text-align: center;
    }
    #img{
      display: none;
    }
    footer{
        margin: 0;
    }
    .section-principal-right{
        display: none;
    }
   }
    


   
   
   